# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin
.idea/
*.iml
out/

# File di sistema operativi
Thumbs.db
.DS_Store